doctype html
html(ng-app='Weather')
    head
        title= title
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui")
        meta(http-equiv="refresh" content="600")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/scripts/angular/angular.js')
        script(src='/scripts/angular-resource/angular-resource.min.js')
        script(src='/scripts/angular-route/angular-route.min.js')
        script(src='/scripts/angular-animate/angular-animate.min.js')
        script(src='/scripts/angular-aria/angular-aria.min.js')
        script(src='/scripts/angular-messages/angular-messages.min.js')
        script(src='/scripts/angular-material/angular-material.min.js')
        script(src='/scripts/moment/moment.js')
        script(src='/scripts/angular-moment/angular-moment.js')
        script(src='/scripts/moment-timezone/builds/moment-timezone-with-data-2012-2022.js')
        script(src='/scripts/lodash/lodash.min.js')
        script(src='/scripts/highcharts/highstock.js')
        script(src='/javascripts/weather.module.js')
        script(src='/javascripts/weather.js')
        script(src='/javascripts/weather.service.js')
        script(src='/javascripts/weatherInfo/weatherInfo.component.js')
        script(src='/javascripts/charts/chart.component.js')
        script(src='/javascripts/charts/chart.service.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')
    body
        block content
