<div layout="column">
    <md-card md-theme="dark-green" flex="100">
        <div ng-if="!$ctrl.old">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Current Weather</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Outside">
                        <md-content>
                            <div layout="row" layout-xs="column">
                                <md-card flex-gt-xs="25" flex="100">
                                    <md-card-content>
                                        <div layout="column">
                                            <h2>Today's Forecast</h2>
                                            <h4>{{$ctrl.dsService.forecast.forecastSummary}}</h4>
                                            <span>High: {{$ctrl.dsService.forecast.forecastHigh}} at {{$ctrl.dsService.forecast.forecastHighTime}}</span>
                                            <span>Low: {{$ctrl.dsService.forecast.forecastLow}} at {{$ctrl.dsService.forecast.forecastLowTime}}</span>
                                            <span ng-if="$ctrl.dsService.forecast.forecastPrecipType">Chance of {{$ctrl.dsService.forecast.forecastPrecipType}}: {{$ctrl.dsService.forecast.forecastPrecipChance}}</span>
                                            <span>Cloud cover: {{$ctrl.dsService.forecast.forecastCloudCover}}</span>
                                            <span>Wind: {{$ctrl.dsService.forecast.forecastWindSpeed}} {{$ctrl.dsService.forecast.forecastWindBearing}}, with gusts up to {{$ctrl.dsService.forecast.forecastGust}} around {{$ctrl.dsService.forecast.forecastGustTime}}</span>
                                            <span>Visibility: {{$ctrl.dsService.forecast.forecastVisibility}}</span>

                                            <h2>Current DS Data</h2>
                                            <span>Temperature: {{$ctrl.dsService.currently.t}}</span>
                                            <span>Humidity: {{$ctrl.dsService.currently.h}}</span>
                                            <span>Pressure: {{$ctrl.dsService.currently.p}}</span>

                                            <div layout="column">
                                                <h2>Current</h2>
                                                <span>Temperature: {{$ctrl.currt}}</span>
                                                <span>Humidity: {{$ctrl.currh}}</span>
                                                <span>Pressure: {{$ctrl.currp}}</span>
                                                <span>Last updated on {{$ctrl.currdate}}</span>
                                            </div>

                                            <div layout="column">
                                                <h2>Highs</h2>
                                                <span>High Temp: {{$ctrl.hight}} at {{$ctrl.hightdate}}</span>
                                                <span>High Humidity: {{$ctrl.highh}} at {{$ctrl.highhdate}}</span>
                                                <span>High Pressure: {{$ctrl.highp}} at {{$ctrl.highpdate}}</span>
                                            </div>

                                            <div layout="column">
                                                <h2>Lows</h2>
                                                <span>Low Temp: {{$ctrl.lowt}} at {{$ctrl.lowtdate}}</span>
                                                <span>Low Humidity: {{$ctrl.lowh}} at {{$ctrl.lowhdate}}</span>
                                                <span>Low Pressure: {{$ctrl.lowp}} at {{$ctrl.lowpdate}}</span>
                                            </div>
                                        </div>
                                    </md-card-content>
                                </md-card>
                                <md-card flex-gt-xs="75" flex="100">
                                    <div layout="row">
                                        <chart-component flex chart-title="Outside Weather Data"
                                                         chart-id="outside-chart"></chart-component>
                                    </div>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Wunderground">
                        <md-content>
                            <div layout-gt-xs="row" layout="column">
                                <md-card flex-gt-xs="25" flex="100">
                                    <md-card-content>
                                        <div layout="column">
                                            <h2>Current</h2>
                                            <span>Current Temp: {{$ctrl.w_currTemp}}</span>
                                            <span>Current Humidity: {{$ctrl.w_currHumidity}}</span>
                                            <span>Pressure: {{$ctrl.w_currPressure}}</span>
                                            <span>{{$ctrl.w_updateTime}}</span>
                                        </div>
                                    </md-card-content>
                                </md-card>
                                <md-card flex-gt-xs="75" flex="100">
                                    <md-card-content>

                                    </md-card-content>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Dark Sky">
                        <md-content>
                            <div layout-gt-xs="row" layout="column">
                                <md-card flex-gt-xs="25" flex="100">
                                    <md-card-content>
                                        <dark-sky></dark-sky>
                                    </md-card-content>
                                </md-card>
                                <md-card flex-gt-xs="75" flex="100">
                                    <md-card-content>
                                        <chart-component flex chart-title="Dark Sky Data"
                                                         chart-id="dark-sky"></chart-component>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Garage">
                        <md-content>
                            <div layout-gt-xs="row" layout="column">
                                <md-card flex-gt-xs="25" flex="100">
                                    <md-card-content>
                                        <garage-info></garage-info>
                                    </md-card-content>
                                </md-card>
                                <md-card flex-gt-xs="75" flex="100">
                                    <md-card-content>
                                        <chart-component flex chart-title="Garage Data"
                                                         chart-id="garage-chart"></chart-component>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>

            </md-card-content>
        </div>


        <div ng-if="$ctrl.old">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Current Weather</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="row">
                    <md-card class="md-primary md-hue-3">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Outside</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div layout="row">
                                <div layout="column">
                                    <span>Temperature: {{$ctrl.latestTempOutside}}</span>
                                    <span>Humidity: {{$ctrl.latestHumidityOutside}}</span>
                                    <span>Pressure: {{$ctrl.latestPressureOutside}}</span>
                                    <span>Last updated on {{$ctrl.latestUpdateTimeOutside}}</span>
                                </div>
                                <div layout="column">
                                    <span>High Temp: {{$ctrl.highTempToday}} at {{$ctrl.highTempDate}}</span>
                                    <span>High Humidity: {{$ctrl.highHumidityToday}} at {{$ctrl.highHumidityDate}}</span>
                                    <span>High Pressure: {{$ctrl.highPressureToday}} at {{$ctrl.highPressureDate}}</span>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card md-theme="dark-green">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Wunderground Data</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div layout="column">
                                <span>Current Temp: {{$ctrl.w_currTemp}}</span>
                                <span>Current Humidity: {{$ctrl.w_currHumidity}}</span>
                                <span>Pressure: {{$ctrl.w_currPressure}}</span>
                                <span>{{$ctrl.w_updateTime}}</span>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </md-card-content>
        </div>
    </md-card>
</div>
